[defaults]
inventory = aws_ec2.yml
host_key_checking = False
remote_user = ubuntu
private_key_file = ~/vockey.pem 

[ssh_connection]
ssh_args = -o ProxyCommand="ssh -W %h:%p -q ubuntu@13.218.188.26 -i ~/vockey.pem"
